@model Magic_Books_Project.Models.Subcategory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Subcategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subcategory_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategory_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subcategory_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
