
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Css Styles -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/elegant-icons.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/magnific-popup.css" rel="stylesheet" />
<link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/slicknav.min.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />
<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="blog__details__content">
                    <div class="blog__details__item">

                        <div class="blog__details__item__title">
                            <span class="tip" style="font-size: 12px; color: #ffffff; background: #6F00FF; text-transform: uppercase; font-weight: 500; display: inline-block; padding: 2px 11px 1px; border-radius: 5px; }">About Us</span>
                            <h4 style="color: #111111; font-weight: 600; line-height: 39px; margin-top: 10px; margin-bottom: 5px;">About MagicBooks.com</h4>

                        </div>
                    </div>
                    <div class="blog__details__desc">
                        <p style=" font-size: 15px; color: #444444; line-height: 27px;">
                            Welcome to Magic Books, where we believe that books have the power to transport us to new worlds, spark our imaginations, and enrich our lives. We're passionate about literature and are thrilled to share our love of books with you.

                        </p>
                        <p style=" font-size: 15px; color: #444444; line-height: 27px;">
                            At Magic Books, we're dedicated to providing our customers with a wide selection of high-quality books at affordable prices. We're committed to helping you find the perfect book, whether it's a classic novel, a contemporary bestseller, or a hidden gem that you've never heard of before.
                            Our team is made up of book lovers, just like you. We're avid readers who are always on the lookout for the next great book. We're here to help you discover new authors, explore different genres, and find the books that will speak to you on a personal level.



                        </p>
                        <br />
                        <br />
                    </div>
                    <div class="blog__details__quote">
                        <div class="icon" style=" height: 30px; width: 8px; font-size: 18px; color: #6F00FF; background: #ffffff; position: absolute; left: 0; top: -11px;"><i class="fa fa-quote-left" style=" margin-top: 340px; margin-left: 16px;"></i></div>
                        <p style=" font-size: 16px; color: #111111; font-weight: 600; font-style: italic; line-height: 30px; margin-bottom: 0;">
                            We believe that reading is more than just a hobby – it's a way of life. It's a way to broaden your horizons, deepen your understanding of the world around you, and connect with others who share your love of literature. That's why we're so passionate about what we do.

                        </p>
                    </div>
                    <div class="blog__details__desc">
                        <p style="font-size: 15px; color: #444444; line-height: 27px;">
                            Thank you for choosing Magic Books as your go-to source for all things literary. We can't wait to help you find your next favorite book!




                        </p>
                    </div>



                </div>

            </div>

        </div>
    </div>
</section>
<!-- Blog Details Section End -->
<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row" style="width:121%; height:305px;">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" style="background-image: url(../images/insta1.png" );" />
                <div class="instagram__text">
                    <i class="fa fa-instagram"></i>
                    <a href="#">magic_books</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 p-0">
            <div class="instagram__item set-bg" style="background-image: url(../images/insta2.png" );" />
            <div class="instagram__text">
                <i class="fa fa-instagram"></i>
                <a href="#">magic_books</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" style="background-image: url(../images/insta3.png" );" />
        <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">magic_books</a>
        </div>
    </div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
    <div class="instagram__item set-bg" style="background-image: url(../images/insta4.png" );" />
    <div class="instagram__text">
        <i class="fa fa-instagram"></i>
        <a href="#"> magic_books</a>
    </div>
</div>
        </div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
    <div class="instagram__item set-bg" style="background-image: url(../images/insta5.png" );" />
    <div class="instagram__text">
        <i class="fa fa-instagram"></i>
        <a href="#"> magic_books</a>
    </div>
</div>
        </div>

    </div>
</div>
</div>
<!-- Instagram End -->
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="~/images/logo23.png" alt=""></a>
                    </div>
                    <p>
                        Unleash your imagination with Magic Books - where every page holds a world of wonder.

                    </p>
                    <div class="footer__payment">
                        <a href="#"><img src="img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="@Url.Action("About", "Home")">About</a></li>
                        
                        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        @if (Session["members"] == null)
                        {
                            <li><a href="@Url.Action("Login", "Home")">My Account</a></li>
                        }
                        else
                        {
                            <li> <a href="@Url.Action("my_orders", "Orders")">My Account</a></li>
                        }
                        @if (Session["members"] == null)
                        {
                            <li><a href="@Url.Action("Login", "Home")">Shopping Bag</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "Bag")">Shopping Bag</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6>NEWSLETTER</h6>
                    <form action="#">
                        <input type="text" placeholder="Email">
                        <button type="submit" class="site-btn" style="background-color: #6F00FF">Subscribe</button>
                    </form>
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->